/*-- Body Reset --*/

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding-left: 7rem;
  padding-right: 7rem;
}

nav {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 10vh;
  font-family: 'Poppins', sans-serif;
  background-color: #77899f;
  z-index: 999;
  opacity: 90%;
}

.linklogo {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
}

.logocustom h4 {
  margin: 0;
  left: 0;
}

.logocustom a:hover {
  text-decoration: none;
  color: white;
}

.nav-linkscustom {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-bottom: 0;
  margin-left: auto; /*added*/
}

.customheadericons {
  right: 0;
  margin-left: auto; /*added*/
}

.headericons {
  display: flex;
  width: 30%;
  margin: 0;
}

.headericons li {
  list-style: none;
  color: white;
  padding: 5px;
}

.nav-linkscustom li {
  list-style: none;
  padding-left: 1rem;
}

.nav-linkscustom a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
}

.nav-linkscustom a:hover {
  color: #a5a697;
}

.headericons a:hover {
  font-size: 17px;
}

.headericons li:hover {
  cursor: pointer;
}

.fa-facebook:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  border-radius: 5px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.fa-pinterest:hover {
  color: #e60023;
}

.fa-google-plus:hover {
  color: #db4437;
}

.burgercustom {
  display: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*select all divs in burger class*/
.burgercustom div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.headericons-mobilecustom {
  display: none;
  cursor: pointer;
}

/*==============SECTIONS==============*/
#section1 {
  padding-top: 0px;
}
#section2 {
  padding-top: 0px;
  padding-bottom: 5rem;
  color: black;
  background-color: white;
}

#section3 {
  padding-top: 7rem;
  height: 300px;
}

.parallexcustom {
  color: white;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/counter-bg.jpg); /*darken the background image*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 200% !important;
}

#section4 {
  padding-top: 7rem;
  padding-bottom: 7rem;
  font-weight: bold;
  color: #77899f;
}

/*==============SECTIONS==============*/

/*SECTION 2*/
.intropic img {
  height: 500px;
  object-fit: cover; /*cropping banner*/
}

.spacingsection2 {
  margin-bottom: 2rem;
}

/*COUNTER STYLE */
.bgcounter {
  padding-top: 5rem;
  width: 100%;
  height: auto;
  color: #263238;
  background-color: white;
}

.col-sm p {
  margin: 0;
}

.counter-bg {
  height: 100%;
}

/*COUNTER STYLE*/

/*SECTION 3*/

.btncard {
  border-radius: 50px;
}

.btncard:hover {
  color: white !important;
}
/*END OF SECTION 3*/
/*============= CAROUSEL =============*/

.mainbanner img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}

.mainbanner {
  width: 100%;
  height: 655px;
}

.carousel-caption {
  bottom: 30%;
}

.carousel-caption h2 {
  font-weight: bold;
}

.carousel-indicators .active {
  color: black;
}

.btn-outline-secondary {
  border-color: white;
  color: white;
  width: 7rem;
}

.btn-outline-secondary:hover {
  background-color: #77899f;
  border-color: #77899f;
}

.carouselbtn1 {
  background-color: #77899f !important;
  border-color: #77899f !important;
}

.carouselbtn1:hover {
  background-color: #6b7e96 !important;
  border-color: #6b7e96 !important;
}

.carouselbtn2:hover {
  color: #77899f !important;
  background-color: white !important;
  border-color: white !important;
}

/*SECTION 4*/
.custominput {
  display: flex;
  justify-content: center;
  width: 400px;
}

.custombutton {
  color: #77899f !important;
  border-color: #77899f !important;
}

.custombutton:hover {
  display: flex;
  justify-content: center;
  color: white !important;
  border-color: #77899f !important;
  background-color: #77899f !important;
}

.form-control::-webkit-input-placeholder {
  color: #77899f;
}
/*---Change Carousel Transition Speed --*/

/*-- Carousel Content --*/

/*===== FIXED BACKGROUND IMG =====*/

/*-- Emoji  --*/

/*============= FOOTER =============*/
section {
  padding: 5rem 0;
}

section .section-title {
  text-align: center;
  color: #77899f;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
#footer {
  background: #77899f !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

/*============= SOCKET =============*/

/*============= MEDIA QUERIES =============*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
*/
@media (max-width: 375px) {
  body {
    overflow-x: hidden; /*to remove scroll on mobile*/
  }
}

@media (min-width: 425px) {
  body {
    overflow-x: hidden; /*to remove scroll on mobile*/
  }

  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /*SECTIONS*/
  .intropic img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }

  .intropic img {
    height: 200px;
  }

  /*CAROUSEL*/
  .mainbanner img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }
}

/*Small (sm) devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  body {
    overflow-x: hidden; /*to remove scroll on mobile*/
  }

  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /*SECTIONS*/

  .intropic img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }

  .intropic img {
    height: 200px;
  }

  /*CAROUSEL*/
  .mainbanner img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }
}

/*Medium (md) devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
  body {
    overflow-x: hidden; /*to remove scroll on mobile*/
  }

  /*SECTIONS*/

  .headericons {
    display: none;
  }

  .headericons-mobilecustom {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 0;
    color: white;
  }

  .nav-linkscustom {
    position: absolute;
    right: 0px; /*to keep links at the right; */
    height: 92vh;
    top: 8vh;
    opacity: 80%;
    background-color: #77899f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 0;
  }

  .nav-linkscustom li {
    opacity: 0;
  }

  .burgercustom {
    display: block;
    cursor: pointer;
  }

  .nav-activecustom {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /*SECTION 2*/
  .intropic img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }

  /*SECTIONS*/

  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /*CAROUSEL*/
  .mainbanner img {
    object-fit: cover;
    position: -20% 0%;
  }
}

/*Large (lg) devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  /*SECTION 2*/

  .container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /*CAROUSEL*/
  .mainbanner img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }
}

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  /*SECTION 2*/
  .intropic img {
    object-fit: cover; /*cropping banner*/
    position: -20% 0%;
  }
}

/*Extra (xl) large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  .container-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/*=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
